/*CSS*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
fieldset{
	margin-left: 400px;
	margin-top:180px;
	width: 400px;
	height: 300px;
	background:#f7f7f7;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 10px;
}
legend{
	color: blue;
	font-size: 24px;
	font-weight: bold;
}
input[name="user"]{
	width: 350px;
	height: 35px;
	position: absolute;
	top:100px;
	left:25px;
	font-size: 18px;
	font-style: italic;
}
input[name="pass"]{
	font-style: italic;
	font-size: 18px;
	width: 350px;
	height: 35px;
	position: absolute;
	top:180px;
	left:25px;
}
input[name="login"]{
	width: 125px;
	height: 40px;
	position: absolute;
	background-image: url(imgtk/sblogin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top:250px;
	left:250px;
	font-weight: bold;
	color: #f1f1f1;
}
#create a{
	text-decoration: none;
	text-align: center;
	width: 110px;
	line-height: 38px;
	position: absolute;
	top:250px;
	left:120px;
	border:1px solid #333;
	font-weight: bold;
	color: #1f5688;
	border-radius: 5px;
}
#create a:hover{
	background: #1f5688;
	color: #f1f1f1;
	border-radius: 5px;
}